/* Général */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f1f1f1;
}
/* Nav */
.navbar-brand {
    font-size: 25px;
    font-family: 'Kaushan Script';
}

#navbarCollapse a {
    font-size: 20px;
}
/* Header */

header {
    background: url('img/headerImg.jpg');
    background-size: cover;
    height: 80vh;
}

.text-intro {
    padding-top: 300px;
    padding-bottom: 200px;
}

.preTxt {
    font-size: 40px;
}

h1 {
    font-size: 90px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
}

/* Trois Icônes */

#home-icons {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid #000;
}

/* Call to action */

#start {
    position: relative;
    min-height: 200px;
    background: url('img/start.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

#start h2 {
    font-size: 40px;
    color: #f1f1f1;
}

/* Clients */
#clients {
    padding-bottom: 75px;
}

#clients img {
    margin-top: -50px;
}

.fab {
    font-size: 25px;
    color: #003366;
}

/* Médias Queries */

@media screen and (max-width: 768px) {

    header {
        height: 60vh;
    }

    .text-intro {
        padding-top: 200px;
    }

    .preTxt {
        font-size: 30px;
    }

    h1{
        font-size: 60px;
    }
}

@media screen and (max-width: 500px) {

    .preTxt {
        font-size: 20px;
    }
    h1{
        font-size: 39px;
    }

    .text-intro a {
        transform: scale(0.8);
    }

    #homes-icons {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    #txtLaptop {
        padding-bottom: 30px;
    }

    #clients {
        padding-bottom: 35px;
    }
    

}
